@keyframes bounceIn {
    0% {
        opacity: 1;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        opacity: 1;
        transform: scale(.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes backspin {
    from {
        -webkit-transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes backspin {
    from {
        -moz-transform: rotate(180deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@-o-keyframes backspin {
    from {
        -o-transform: rotate(180deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}
@keyframes backspin {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}